
/* .container
{
    width: 1200px;
} */
.material-icons
{
    display: none;
}
@media(max-width:992px){

    .material-icons
    {
        padding-left: 20px;
        padding-top: 20px;
        display: block;
        cursor: pointer;
    }
}

.side
{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 50px;
}

.side li
{
    font-size: 25px;
    margin: 20px 0;
    padding-left: 20px;
}

.side li a
{
    color: #fff;
}
.movie
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
.content
{
    min-height: 75vh;
}
label:not(:last-child){
    margin-right: 1rem;
}